.setion__add-post {
  margin-bottom: 30px;
  max-width: 714px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 50px 50px;
  text-align: center;
  border-radius: 20px;
  border: solid 0.125rem #121212;
  box-shadow: 0.25rem 0.25rem #121212;
  background-color: rgba(152, 98, 98, 0.469);
}



.add__post-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.add__post-textarea {
  height: 70px;
}

.add__post-button {
  font-weight: 700;
  text-transform: uppercase;
}